section
{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 90%;
    margin:  20px auto;
  
}
.item 
{
    width: 25%;
    margin-left: 20px;
    height: 300px;
    /* background-color: aquamarine; */
}
.item .pic 
{
    width: 100%;
   
}
.line 
{
    border-bottom: 1px solid rgb(182, 173, 173);
    margin-bottom: 50px;
    margin-top: 30px;
}
.h
{
    margin-left: 40px;
    margin-bottom: 30px;
}
.two 
{
    display: flex;
}
 .two .icon
{
    
    height: 50px;
    width: 15%;
    text-align: center;
    

}
.two .icon .iii 
{
    font-size: 15px;
    color: #7fd02c;
    width: 40%;
    transform:translate(0 , 10px) ;
    -webkit-transform:translate(0 , 10px) ;
    -moz-transform:translate(0 , 10px) ;
    -ms-transform:translate(0 , 10px) ;
    -o-transform:translate(0 , 10px) ;
}
.two .p
{

    height: 50px;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 20px;
}
.prg 
{
    margin-bottom: 50px;
}
input
{
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(214, 10, 10);
}
input::placeholder
{
font-size: 20px;
}
.roll
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    transform: translate(240px , -50px);
    -webkit-transform: translate(240px , -50px);
    -moz-transform: translate(240px , -50px);
    -ms-transform: translate(240px , -50px);
    -o-transform: translate(240px , -50px);
}
.roll .icon-item
{
    color: rgb(228, 236, 228);
    width: 52%;
    transform:translate(10px , 13px) ;
    -webkit-transform:translate(10px , 13px) ;
    -moz-transform:translate(10px , 13px) ;
    -ms-transform:translate(10px , 13px) ;
    -o-transform:translate(10px , 13px) ;
}
.footerr 
{
    background-color: rgb(197, 195, 195);
    height: 70px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0 140px;
    justify-content: space-between;
   

    padding: 0 -50px;
}
.footerr div 
{
 
}
.footerr div img 
{
    margin-left: 30px;
}
